.Inicio{
  display: flex;
  justify-content: center;
  align-items: stretch;
  vertical-align: top;
}

.Form{
  padding: 20px;
  
}

.valorNegativo {
  color: red !important;
}

@media (max-width:320px){

  .Inicio {
    display: flex;
    flex-wrap: wrap;
}
}

@media (min-width: 481px) and (max-width: 991px){

  .Inicio {
    display: flex;
    flex-wrap: wrap;
}
}
